<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:sprind_form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit tour</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h2>${editTour}</h2>
<form th:action="@{/editTour}"  method ="post">
    <table border="1" align="center">
        <tr>
            <td>TypeOfTour</td>
            <td>Country</td>
            <td>City</td>
            <td>Duration</td>
            <td>Price</td>
            <td>Status</td>
        </tr>
        <tr th:each="editTour : ${editTour}">
            <td th:text="${editTour.typeOfTourDto.title}">Vacation</td>
            <td th:text="${editTour.countryDto.country}">Italy</td>
            <td th:text="${editTour.countryDto.city}">Milan</td>
            <td th:text="${editTour.days}">10</td>
            <td th:text="${editTour.price}">100</td>
            <td th:text="${editTour.status}">Горящий</td>
        </tr>
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <td>Type of tour</td>-->
<!--            <td><input type="text"  th:value="${typeOfTour.title}" id="title" name="title"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Country</td>-->
<!--            <td><input type="text"  th:value="${country.country}" id="country" name="country"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>City</td>-->
<!--            <td><input type="text"  th:value="${country.city}" id="city" name="city"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>During</td>-->
<!--            <td><input type="text"  th:value="${days}" id="days" name="days"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Price</td>-->
<!--            <td><input type="text" th:value="${price}" id="price" name="price"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Status</td>-->
<!--            <td><input type="text" th:value="${status}" id="status" name="status"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <button type ="submit">Save</button>-->
</form>
</body>
</html>