<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
    <table border="1" align="center">
        <tr>
            <td>Date</td>
            <td>Status</td>
            <td>Sum</td>
            <td>Discount,%</td>
            <td>SubTotal</td>
            <td>Make a payment</td>
        </tr>
            <tr th:each="order : ${orders}">
            <td th:text="${order.created}">Date</td>
            <td th:text="${order.status}">Status</td>
            <td th:text="${order.sum}">Sum</td>
            <td>
                <p th:if="${order.status ==T(com.project.travelAgency.model.entity.OrderStatus).NEW}" th:text="${order.user.discount}"></p>
                <p th:unless="---"></p>
            </td>
            <th:block th:with=" var = ${order.sum-(order.sum * order.user.discount/100)}">
                <td>
                    <p th:if="${order.status ==T(com.project.travelAgency.model.entity.OrderStatus).NEW}" th:text="${var}"></p>
                    <p th:unless="---"></p>
                </td>
            </th:block>
            <td>
                <p th:if="${order.status ==T(com.project.travelAgency.model.entity.OrderStatus).NEW}">
                <a th:href="@{/payment/{id}(id=${order.id})}">Payment</a></p>
                <p th:unless="---"></p>
            </td>
        </tr>
    </table>
</body>
</html>
