<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<input type="hidden" name="tourId" value="${tour.id}">
<h2>My cart</h2>
<h3>All sum -> <b th:text="${order.sum}">1000</b></h3>

<table border="1" align="center">
    <tr>
        <td>Type of tour</td>
        <td>Country</td>
        <td>Duration</td>
        <td>Price</td>
        <td>Amount</td>
        <td>Sum</td>
        <td></td>
    </tr>
    <tr th:each="detail : ${order.orderDetails}">
        <td th:text="${detail.typeOfTour}">Vacation</td>
        <td th:text="${detail.country}">Italy</td>
        <td th:text="${detail.days}">7</td>
        <td th:text="${detail.price}">100</td>
        <td th:text="${detail.amount}">1</td>
        <td th:text="${detail.sum}">100</td>
        <td>
            <a th:href="@{/deleteTour(tourId=${tour.getId()}, cardId=${card.getId()})}">Remove</a>
        </td>
    </tr>
</table>

<form th:action="@{/order}" method="post">
    <button type="submit">Create Order</button>
</form>

</body>
</html>