<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tour list</title>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <td>TypeOfTour</td>
        <td>Country</td>
        <td>City</td>
        <td>Duration</td>
        <td>Price</td>
        <td>Status</td>
        <td>Add</td>
        <td sec:authorize="hasAnyAuthority('ADMIN')">Remove</td>
        <td sec:authorize="hasAnyAuthority('ADMIN')">Edit tour</td>
    </tr>
    <tr th:each="tour : ${tours}">
        <td th:text="${tour.typeOfTourDto.title}">Vacation</td>
        <td th:text="${tour.countryDto.country}">Italy</td>
        <td th:text="${tour.countryDto.city}">Milan</td>
        <td th:text="${tour.days}">10</td>
        <td th:text="${tour.price}">100</td>
        <td th:text="${tour.status}">Горящий</td>
        <td><a th:href="@{/tours/{id}/cart(id=${tour.id})}">Add to cart</a></td>
        <td sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/tours/{id}/deleteTour(id=${tour.id})}">Remove</a></td>
        <td sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/tours/{id}(id=${tour.id})}">Edit Tour</a></td>
    </tr>
</table>
<td sec:authorize="hasAnyAuthority('ADMIN')"><a th:href="@{/tours/showCreateTour}">Create Tour</a></td>

</body>
</html>