<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${tourDto}" method="post">
  <table>
    <tr>
      <td>Type Of Tour:</td>
      <td><input type="text" th:field="*{typeOfTour}" /></td>
      <td th:if="${#fields.hasErrors('typeOfTour')}" th:errors="*{typeOfTour}">Type of Tour Error</td>
    </tr>
    <tr>
      <td>Country:</td>
      <td><input type="text" th:field="*{countryDto.country}" /></td>
      <td th:if="${#fields.hasErrors('countryDto.country')}" th:errors="*{countryDto.country}">Country Error</td>
    </tr>
    <tr>
      <td>City</td>
      <td><input type="text" th:field="*{countryDto.city}" /></td>
      <td th:if="${#fields.hasErrors('countryDto.city')}" th:errors="*{countryDto.city}">City Error</td>
    </tr>
    <tr>
      <td>Days</td>
      <td><input type="text" th:field="*{days}" /></td>
      <td th:if="${#fields.hasErrors('days')}" th:errors="*{days}">Days Error</td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="text" th:field="*{price}" /></td>
      <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
    </tr>
    <tr>
      <td>Status</td>
      <td><input type="text" th:field="*{status}" /></td>
      <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</td>
    </tr>
    <tr>
      <td><button type="submit">Submit</button></td>
    </tr>
  </table>
</form>
</body>
</html>